In [2]:
import pandas as pd
file_path = "clean_first.csv"
second_file_path = "clean_second.csv"
df = pd.read_csv(file_path)
second_df = pd.read_csv(second_file_path)

In [3]:
df.head()

,Unnamed: 0,Ticker,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,...,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,date
0,0,SHIIY,"['84,395,489', '75,888,804', '61,560,865', '88...","['84,147,327', '74,298,048', '61,901,114', '86...","['248,162', '1,590,756', '-340,249', '1,587,74...","['347,660', '369,573', '443,941', '497,477', '...","['-99,498', '1,221,183', '-784,190', '1,090,26...","['470,660', '401,912', '337,788', '344,392', '...","['373,828', '1,097,991', '1,037,180', '1,221,4...","['744,990', '2,721,086', '590,778', '2,656,128...",...,"['850,920', '-', '-', '-', '-']","['84,147,327', '74,298,048', '61,901,114', '86...","['1,838,788', '1,965,708', '1,827,139', '1,838...","['370,451', '2,073,431', '645,072', '2,215,728...","['32,705', '141,783', '230,832', '192,007', '1...","['32,705', '141,783', '230,832', '192,007', '1...","['818,215', '4,639,197', '2,280,525', '4,356,6...","['0', '0', '0', '0', '0']","['13,082', '33,574', '57,708', '31,009', '32,3...","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
1,2,SLHGF,"['41,895', '27,157', '13,141', '13,424', '0']","['24,422', '12,071', '4,112', '4,101', '-']","['17,473', '15,086', '9,029', '9,323', '-']","['43,337', '35,544', '16,083', '15,000', '218....","['-25,864', '-20,458', '-7,054', '-5,677', '-2...","['-1,728', '-964', '-166.2', '-240.947', '-']","['1,019', '-729', '-2,261', '-4,945', '-']","['-26,573', '-22,151', '-9,481', '-10,863', '-...",...,"['-18,942', '-', '-', '-', '-']","['24,422', '12,071', '4,112', '4,101', '-']","['5,856', '4,618', '2,324', '2,258', '-']","['-26,817', '-22,310', '-9,481', '-10,974', '-...","['-181', '-1,685', '-2,261', '-4,945', '-']","['-181', '-1,685', '-2,261', '-4,945', '-']","['-18,761', '-14,884', '-4,729', '-3,419', '-2...","['0', '0', '0', '0', '0']","['0', '0', '0', '-1,310', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
2,5,RVIC,"['39,769', '55,658', '169,808', '239,095', '-']","['11,064', '16,252', '61,555', '69,297', '-']","['28,705', '39,406', '108,253', '169,798', '-']","['18,796', '26,700', '79,277', '100,445', '-']","['9,909', '12,706', '28,976', '69,353', '-']","['-4,748', '-7,899', '-22,742', '-42,674', '-']","['21,936', '21,716', '-98,396', '20,574', '-']","['27,097', '26,523', '-92,162', '47,253', '-']",...,"['52,814', '-', '-', '-', '-']","['931', '16,252', '61,555', '69,297', '-']","['20,969', '33,720', '57,053', '74,598', '-']","['26,977', '26,375', '-93,554', '46,749', '-']","['21,936', '21,716', '-98,647', '21,424', '-']","['21,936', '21,716', '-98,647', '21,424', '-']","['30,878', '46,426', '86,280', '143,101', '-']","['0', '0', '0', '0', '-']","['97.1443', '41.2604', '-26,635', '0', '-']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
3,6,TRIRF,"['60,207', '56,680', '55,474', '16,898', '0']","['41,952', '21,172', '4,168', '112.803', '0']","['18,255', '35,507', '51,306', '16,785', '0']","['29,855', '34,510', '20,014', '1,427', '2,029']","['-11,599', '997.551', '31,291', '15,358', '-2...","['-828.702', '-461.051', '-42.443', '-2.608', ...","['-2,727', '34,026', '20,352', '-182.099', '0....","['-15,156', '34,562', '51,601', '15,173', '-2,...",...,"['-11,419', '-', '-', '-', '-']","['39,779', '19,509', '3,995', '112.803', '0']","['2,852', '2,269', '288.939', '10.456', '1.071']","['-15,484', '33,427', '45,253', '13,581', '-2,...","['-2,814', '33,962', '20,239', '-182.099', '0....","['-2,814', '33,962', '20,239', '-182.099', '0....","['-8,604', '3,287', '31,727', '15,366', '-2,036']","['0', '0', '0', '0', '0']","['-1,126', '1,189', '2,489', '-19.1204', '0']","['ttm', '2/28/2022', '2/28/2021', '2/29/2020',..."
4,13,WEIDY,"['710,155', '710,155', '1,539,689', '3,373,237...","['383,291', '383,291', '769,815', '1,404,383',...","['326,864', '326,864', '769,874', '1,968,854',...","['1,069,632', '1,069,632', '1,174,305', '1,653...","['-742,768', '-742,768', '-404,431', '314,871'...","['6,399', '6,399', '18,952', '38,522', '66,791']","['-3,821', '-3,821', '-12,378', '15,092', '-15...","['-740,190', '-740,190', '-397,857', '368,485'...",...,"['-725,625', '-', '-', '-', '-']","['383,291', '383,291', '769,815', '1,404,383',...","['17,143', '17,143', '29,431', '42,586', '42,4...","['-1,140,666', '-1,140,666', '-712,573', '253,...","['-6,265', '-6,265', '-19,041', '1,094', '-21,...","['-6,265', '-6,265', '-19,041', '1,094', '-21,...","['-719,360', '-719,360', '-349,385', '409,977'...","['0', '0', '0', '0', '0']","['-1,566', '-1,566', '-4,760', '312.4573', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."

In [11]:
df.count()

Unnamed: 0                                                    1310
Ticker                                                        1310
Total Revenue                                                 1310
Cost of Revenue                                               1310
Gross Profit                                                  1310
Operating Expense                                             1310
Operating Income                                              1310
Net Non Operating Interest Income Expense                     1310
Other Income Expense                                          1310
Pretax Income                                                 1310
Tax Provision                                                 1310
Net Income Common Stockholders                                1310
Diluted NI Available to Com Stockholders                      1310
Basic EPS                                                     1310
Diluted EPS                                                   1310
Basic Average Shares                                          1310
Diluted Average Shares                                        1310
Total Operating Income as Reported                            1310
Total Expenses                                                1310
Net Income from Continuing & Discontinued Operation           1310
Normalized Income                                             1310
Interest Expense                                              1310
Net Interest Income                                           1310
EBIT                                                          1310
EBITDA                                                        1310
Reconciled Cost of Revenue                                    1310
Reconciled Depreciation                                       1310
Net Income from Continuing Operation Net Minority Interest    1310
Total Unusual Items Excluding Goodwill                        1310
Total Unusual Items                                           1310
Normalized EBITDA                                             1310
Tax Rate for Calcs                                            1310
Tax Effect of Unusual Items                                   1310
date                                                          1310
dtype: int64

In [4]:
second_df.head()

,Unnamed: 0,ticker,Total Revenue,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,EBIT,EBITDA,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,date
0,0,ISIG,"['18,799', '19,503', '17,669', '21,954', '33,2...","['5,825', '8,021', '7,839', '8,376', '10,729']","['-2,743', '-4,791', '-4,796', '-3,615', '1,832']","['-', '-36', '-', '-', '-']","['12,418', '1,335', '305', '-1,872', '51']","['9,639', '-3,492', '-4,491', '-5,487', '1,883']","['-158', '42', '-191', '-466', '484']","['9,797', '-3,534', '-4,300', '-5,021', '1,399']",...,"['-1,408', '-3,456', '-4,796', '-3,615', '1,832']","['-1,348', '-', '-', '-', '-']","['60', '60', '477', '1,647', '1,167']","['9,797', '-3,534', '-4,300', '-5,021', '1,399']","['12,000', '1,062', '195', '-2,014', '-']","['12,000', '1,062', '195', '-2,014', '-']","['-13,348', '-4,458', '-4,514', '46', '2,999']","['0', '0', '0', '0', '0']","['4,800', '286.74', '8.385', '-171.19', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
1,3,BIOX,"['388,945', '328,456', '206,698', '172,351', '...","['102,673', '86,113', '52,936', '42,823', '42,...","['46,170', '40,324', '37,946', '36,669', '31,0...","['-19,716', '-16,279', '-21,240', '-20,881', '...","['-8,326', '-9,980', '-6,176', '-9,345', '-30,...","['18,128', '14,064', '10,531', '6,443', '-9,37...","['20,390', '17,973', '14,351', '2,207', '6,986...","['-7,575', '-7,200', '-6,870', '3,359', '-18,3...",...,"['36,247', '29,017', '29,453', '25,840', '14,8...","['48,111', '-', '-', '-', '-', '-']","['11,864', '9,188', '6,265', '4,726', '4,827',...","['-7,575', '-7,200', '-6,870', '3,359', '-18,3...","['-7,487', '-11,125', '-7,173', '-11,822', '-3...","['-7,487', '-11,125', '-7,173', '-11,822', '-3...","['58,646', '49,329', '42,891', '42,389', '51,2...","['0', '0', '0', '0', '0', '0']","['-4,214', '-4,450', '-1,793', '-4,049', '-9,4...","['ttm', '6/30/2022', '6/30/2021', '6/30/2020',..."
2,5,ISPC,"['9,990', '11,135', '8,184', '4,298', '4,395']","['15,460', '11,812', '7,005', '6,051', '5,389']","['-10,039', '-5,925', '-2,406', '-3,880', '-3,...","['-84.179', '-2,091', '-2,096', '-1,724', '-1,...","['-12.997', '-945.285', '-149.346', '719.859',...","['-10,137', '-8,962', '-4,652', '-4,884', '-5,...","['-', '0', '0', '-157', '-127']","['-10,137', '-8,962', '-4,652', '-4,727', '-5,...",...,"['-9,958', '-6,859', '-2,555', '-3,160', '-4,2...","['-8,862', '-', '-', '-', '-']","['1,096', '1,004', '819.687', '634.965', '469....","['-10,137', '-8,962', '-4,652', '-4,727', '-5,...","['0', '-900.754', '-159', '551', '-946']","['0', '-900.754', '-159', '551', '-946']","['-8,862', '-4,954', '-1,577', '-3,076', '-2,8...","['0', '0', '0', '0', '0']","['0', '0', '0', '17.7121', '-21.9475']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
3,9,ISUN,"['77,616', '45,312', '21,052', '28,222', '0']","['35,906', '17,006', '4,029', '3,250', '839.061']","['-19,761', '-10,614', '-1,685', '921.113', '-...","['-1,188', '-517.718', '-302.542', '-244.068',...","['4,659', '2,976', '1,496', '-', '700']","['-16,290', '-8,156', '-491.501', '677.045', '...","['-1,623', '-1,915', '-487.173', '1,105', '-']","['-14,668', '-6,311', '-279.884', '-427.795', ...",...,"['-15,102', '-7,638', '-188.959', '921.113', '...","['-9,396', '-', '-', '-', '-']","['5,706', '981.975', '585.69', '621.233', '-']","['-14,667', '-6,241', '-4.328', '-427.795', '-...","['4,659', '2,976', '1,496', '-', '-']","['4,659', '2,976', '1,496', '-', '-']","['-14,056', '-9,633', '-1,100', '1,542', '89.8...","['0', '0', '0', '0', '0']","['464.1833', '698.8583', '404.0464', '0', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
4,10,DYNT,"['44,091', '44,338', '47,799', '53,409', '62,5...","['15,451', '15,430', '16,646', '18,091', '19,9...","['-4,799', '-4,756', '-3,760', '-2,993', '-796...","['-139.343', '-147.987', '-215.63', '-435.607'...","['-43.539', '910.995', '5,967', '-6.782', '392...","['-4,982', '-3,993', '1,991', '-3,436', '-916....","['0', '0', '-9.982', '-10.067', '5.474']","['-5,699', '-4,726', '1,209', '-4,317', '-1,716']",...,"['-4,842', '-3,845', '2,207', '-3,000', '-404....","['-3,436', '-', '-', '-', '-']","['1,407', '1,422', '1,607', '1,738', '1,611']","['-4,982', '-3,993', '2,001', '-3,425', '-921....","['0', '0', '3,518', '-', '-']","['0', '0', '3,518', '-', '-']","['-3,436', '-2,423', '295.702', '-1,262', '1,2...","['0', '0', '0', '0', '0']","['0', '0', '949.8551', '0', '0']","['ttm', '6/30/2022', '6/30/2021', '6/30/2020',..."

In [21]:
second_df = second_df.rename(columns={"ticker":"Ticker"})
second_df.head()

,Unnamed: 0,Ticker,Total Revenue,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,Tax Provision,Net Income Common Stockholders,...,EBIT,EBITDA,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,date
0,0,ISIG,"['18,799', '19,503', '17,669', '21,954', '33,2...","['5,825', '8,021', '7,839', '8,376', '10,729']","['-2,743', '-4,791', '-4,796', '-3,615', '1,832']","['-', '-36', '-', '-', '-']","['12,418', '1,335', '305', '-1,872', '51']","['9,639', '-3,492', '-4,491', '-5,487', '1,883']","['-158', '42', '-191', '-466', '484']","['9,797', '-3,534', '-4,300', '-5,021', '1,399']",...,"['-1,408', '-3,456', '-4,796', '-3,615', '1,832']","['-1,348', '-', '-', '-', '-']","['60', '60', '477', '1,647', '1,167']","['9,797', '-3,534', '-4,300', '-5,021', '1,399']","['12,000', '1,062', '195', '-2,014', '-']","['12,000', '1,062', '195', '-2,014', '-']","['-13,348', '-4,458', '-4,514', '46', '2,999']","['0', '0', '0', '0', '0']","['4,800', '286.74', '8.385', '-171.19', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
1,3,BIOX,"['388,945', '328,456', '206,698', '172,351', '...","['102,673', '86,113', '52,936', '42,823', '42,...","['46,170', '40,324', '37,946', '36,669', '31,0...","['-19,716', '-16,279', '-21,240', '-20,881', '...","['-8,326', '-9,980', '-6,176', '-9,345', '-30,...","['18,128', '14,064', '10,531', '6,443', '-9,37...","['20,390', '17,973', '14,351', '2,207', '6,986...","['-7,575', '-7,200', '-6,870', '3,359', '-18,3...",...,"['36,247', '29,017', '29,453', '25,840', '14,8...","['48,111', '-', '-', '-', '-', '-']","['11,864', '9,188', '6,265', '4,726', '4,827',...","['-7,575', '-7,200', '-6,870', '3,359', '-18,3...","['-7,487', '-11,125', '-7,173', '-11,822', '-3...","['-7,487', '-11,125', '-7,173', '-11,822', '-3...","['58,646', '49,329', '42,891', '42,389', '51,2...","['0', '0', '0', '0', '0', '0']","['-4,214', '-4,450', '-1,793', '-4,049', '-9,4...","['ttm', '6/30/2022', '6/30/2021', '6/30/2020',..."
2,5,ISPC,"['9,990', '11,135', '8,184', '4,298', '4,395']","['15,460', '11,812', '7,005', '6,051', '5,389']","['-10,039', '-5,925', '-2,406', '-3,880', '-3,...","['-84.179', '-2,091', '-2,096', '-1,724', '-1,...","['-12.997', '-945.285', '-149.346', '719.859',...","['-10,137', '-8,962', '-4,652', '-4,884', '-5,...","['-', '0', '0', '-157', '-127']","['-10,137', '-8,962', '-4,652', '-4,727', '-5,...",...,"['-9,958', '-6,859', '-2,555', '-3,160', '-4,2...","['-8,862', '-', '-', '-', '-']","['1,096', '1,004', '819.687', '634.965', '469....","['-10,137', '-8,962', '-4,652', '-4,727', '-5,...","['0', '-900.754', '-159', '551', '-946']","['0', '-900.754', '-159', '551', '-946']","['-8,862', '-4,954', '-1,577', '-3,076', '-2,8...","['0', '0', '0', '0', '0']","['0', '0', '0', '17.7121', '-21.9475']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
3,9,ISUN,"['77,616', '45,312', '21,052', '28,222', '0']","['35,906', '17,006', '4,029', '3,250', '839.061']","['-19,761', '-10,614', '-1,685', '921.113', '-...","['-1,188', '-517.718', '-302.542', '-244.068',...","['4,659', '2,976', '1,496', '-', '700']","['-16,290', '-8,156', '-491.501', '677.045', '...","['-1,623', '-1,915', '-487.173', '1,105', '-']","['-14,668', '-6,311', '-279.884', '-427.795', ...",...,"['-15,102', '-7,638', '-188.959', '921.113', '...","['-9,396', '-', '-', '-', '-']","['5,706', '981.975', '585.69', '621.233', '-']","['-14,667', '-6,241', '-4.328', '-427.795', '-...","['4,659', '2,976', '1,496', '-', '-']","['4,659', '2,976', '1,496', '-', '-']","['-14,056', '-9,633', '-1,100', '1,542', '89.8...","['0', '0', '0', '0', '0']","['464.1833', '698.8583', '404.0464', '0', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
4,10,DYNT,"['44,091', '44,338', '47,799', '53,409', '62,5...","['15,451', '15,430', '16,646', '18,091', '19,9...","['-4,799', '-4,756', '-3,760', '-2,993', '-796...","['-139.343', '-147.987', '-215.63', '-435.607'...","['-43.539', '910.995', '5,967', '-6.782', '392...","['-4,982', '-3,993', '1,991', '-3,436', '-916....","['0', '0', '-9.982', '-10.067', '5.474']","['-5,699', '-4,726', '1,209', '-4,317', '-1,716']",...,"['-4,842', '-3,845', '2,207', '-3,000', '-404....","['-3,436', '-', '-', '-', '-']","['1,407', '1,422', '1,607', '1,738', '1,611']","['-4,982', '-3,993', '2,001', '-3,425', '-921....","['0', '0', '3,518', '-', '-']","['0', '0', '3,518', '-', '-']","['-3,436', '-2,423', '295.702', '-1,262', '1,2...","['0', '0', '0', '0', '0']","['0', '0', '949.8551', '0', '0']","['ttm', '6/30/2022', '6/30/2021', '6/30/2020',..."

In [22]:
second_df.count()

Unnamed: 0                                                    1830
Ticker                                                        1830
Total Revenue                                                 1830
Operating Expense                                             1830
Operating Income                                              1830
Net Non Operating Interest Income Expense                     1830
Other Income Expense                                          1830
Pretax Income                                                 1830
Tax Provision                                                 1830
Net Income Common Stockholders                                1830
Diluted NI Available to Com Stockholders                      1830
Basic EPS                                                     1830
Diluted EPS                                                   1830
Basic Average Shares                                          1830
Diluted Average Shares                                        1830
Total Operating Income as Reported                            1830
Total Expenses                                                1830
Net Income from Continuing & Discontinued Operation           1830
Normalized Income                                             1830
Net Interest Income                                           1830
EBIT                                                          1830
EBITDA                                                        1830
Reconciled Depreciation                                       1830
Net Income from Continuing Operation Net Minority Interest    1830
Total Unusual Items Excluding Goodwill                        1830
Total Unusual Items                                           1830
Normalized EBITDA                                             1830
Tax Rate for Calcs                                            1830
Tax Effect of Unusual Items                                   1830
date                                                          1830
dtype: int64

In [23]:
new_df = pd.concat([df,second_df])

In [24]:
new_df.head()

,Unnamed: 0,Ticker,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,...,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items,date
0,0,SHIIY,"['84,395,489', '75,888,804', '61,560,865', '88...","['84,147,327', '74,298,048', '61,901,114', '86...","['248,162', '1,590,756', '-340,249', '1,587,74...","['347,660', '369,573', '443,941', '497,477', '...","['-99,498', '1,221,183', '-784,190', '1,090,26...","['470,660', '401,912', '337,788', '344,392', '...","['373,828', '1,097,991', '1,037,180', '1,221,4...","['744,990', '2,721,086', '590,778', '2,656,128...",...,"['850,920', '-', '-', '-', '-']","['84,147,327', '74,298,048', '61,901,114', '86...","['1,838,788', '1,965,708', '1,827,139', '1,838...","['370,451', '2,073,431', '645,072', '2,215,728...","['32,705', '141,783', '230,832', '192,007', '1...","['32,705', '141,783', '230,832', '192,007', '1...","['818,215', '4,639,197', '2,280,525', '4,356,6...","['0', '0', '0', '0', '0']","['13,082', '33,574', '57,708', '31,009', '32,3...","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
1,2,SLHGF,"['41,895', '27,157', '13,141', '13,424', '0']","['24,422', '12,071', '4,112', '4,101', '-']","['17,473', '15,086', '9,029', '9,323', '-']","['43,337', '35,544', '16,083', '15,000', '218....","['-25,864', '-20,458', '-7,054', '-5,677', '-2...","['-1,728', '-964', '-166.2', '-240.947', '-']","['1,019', '-729', '-2,261', '-4,945', '-']","['-26,573', '-22,151', '-9,481', '-10,863', '-...",...,"['-18,942', '-', '-', '-', '-']","['24,422', '12,071', '4,112', '4,101', '-']","['5,856', '4,618', '2,324', '2,258', '-']","['-26,817', '-22,310', '-9,481', '-10,974', '-...","['-181', '-1,685', '-2,261', '-4,945', '-']","['-181', '-1,685', '-2,261', '-4,945', '-']","['-18,761', '-14,884', '-4,729', '-3,419', '-2...","['0', '0', '0', '0', '0']","['0', '0', '0', '-1,310', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
2,5,RVIC,"['39,769', '55,658', '169,808', '239,095', '-']","['11,064', '16,252', '61,555', '69,297', '-']","['28,705', '39,406', '108,253', '169,798', '-']","['18,796', '26,700', '79,277', '100,445', '-']","['9,909', '12,706', '28,976', '69,353', '-']","['-4,748', '-7,899', '-22,742', '-42,674', '-']","['21,936', '21,716', '-98,396', '20,574', '-']","['27,097', '26,523', '-92,162', '47,253', '-']",...,"['52,814', '-', '-', '-', '-']","['931', '16,252', '61,555', '69,297', '-']","['20,969', '33,720', '57,053', '74,598', '-']","['26,977', '26,375', '-93,554', '46,749', '-']","['21,936', '21,716', '-98,647', '21,424', '-']","['21,936', '21,716', '-98,647', '21,424', '-']","['30,878', '46,426', '86,280', '143,101', '-']","['0', '0', '0', '0', '-']","['97.1443', '41.2604', '-26,635', '0', '-']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."
3,6,TRIRF,"['60,207', '56,680', '55,474', '16,898', '0']","['41,952', '21,172', '4,168', '112.803', '0']","['18,255', '35,507', '51,306', '16,785', '0']","['29,855', '34,510', '20,014', '1,427', '2,029']","['-11,599', '997.551', '31,291', '15,358', '-2...","['-828.702', '-461.051', '-42.443', '-2.608', ...","['-2,727', '34,026', '20,352', '-182.099', '0....","['-15,156', '34,562', '51,601', '15,173', '-2,...",...,"['-11,419', '-', '-', '-', '-']","['39,779', '19,509', '3,995', '112.803', '0']","['2,852', '2,269', '288.939', '10.456', '1.071']","['-15,484', '33,427', '45,253', '13,581', '-2,...","['-2,814', '33,962', '20,239', '-182.099', '0....","['-2,814', '33,962', '20,239', '-182.099', '0....","['-8,604', '3,287', '31,727', '15,366', '-2,036']","['0', '0', '0', '0', '0']","['-1,126', '1,189', '2,489', '-19.1204', '0']","['ttm', '2/28/2022', '2/28/2021', '2/29/2020',..."
4,13,WEIDY,"['710,155', '710,155', '1,539,689', '3,373,237...","['383,291', '383,291', '769,815', '1,404,383',...","['326,864', '326,864', '769,874', '1,968,854',...","['1,069,632', '1,069,632', '1,174,305', '1,653...","['-742,768', '-742,768', '-404,431', '314,871'...","['6,399', '6,399', '18,952', '38,522', '66,791']","['-3,821', '-3,821', '-12,378', '15,092', '-15...","['-740,190', '-740,190', '-397,857', '368,485'...",...,"['-725,625', '-', '-', '-', '-']","['383,291', '383,291', '769,815', '1,404,383',...","['17,143', '17,143', '29,431', '42,586', '42,4...","['-1,140,666', '-1,140,666', '-712,573', '253,...","['-6,265', '-6,265', '-19,041', '1,094', '-21,...","['-6,265', '-6,265', '-19,041', '1,094', '-21,...","['-719,360', '-719,360', '-349,385', '409,977'...","['0', '0', '0', '0', '0']","['-1,566', '-1,566', '-4,760', '312.4573', '0']","['ttm', '12/31/2021', '12/31/2020', '12/31/201..."

In [25]:
new_df.count()

Unnamed: 0                                                    3140
Ticker                                                        3140
Total Revenue                                                 3140
Cost of Revenue                                               1310
Gross Profit                                                  1310
Operating Expense                                             3140
Operating Income                                              3140
Net Non Operating Interest Income Expense                     3140
Other Income Expense                                          3140
Pretax Income                                                 3140
Tax Provision                                                 3140
Net Income Common Stockholders                                3140
Diluted NI Available to Com Stockholders                      3140
Basic EPS                                                     3140
Diluted EPS                                                   3140
Basic Average Shares                                          3140
Diluted Average Shares                                        3140
Total Operating Income as Reported                            3140
Total Expenses                                                3140
Net Income from Continuing & Discontinued Operation           3140
Normalized Income                                             3140
Interest Expense                                              1310
Net Interest Income                                           3140
EBIT                                                          3140
EBITDA                                                        3140
Reconciled Cost of Revenue                                    1310
Reconciled Depreciation                                       3140
Net Income from Continuing Operation Net Minority Interest    3140
Total Unusual Items Excluding Goodwill                        3140
Total Unusual Items                                           3140
Normalized EBITDA                                             3140
Tax Rate for Calcs                                            3140
Tax Effect of Unusual Items                                   3140
date                                                          3140
dtype: int64

In [28]:
new_df.drop(["Gross Profit", "Interest Expense", "Reconciled Depreciation"], axis = 1, inplace=True)

In [31]:
new_df.count()

Unnamed: 0                                                    3140
Ticker                                                        3140
Total Revenue                                                 3140
Cost of Revenue                                               1310
Operating Expense                                             3140
Operating Income                                              3140
Net Non Operating Interest Income Expense                     3140
Other Income Expense                                          3140
Pretax Income                                                 3140
Tax Provision                                                 3140
Net Income Common Stockholders                                3140
Diluted NI Available to Com Stockholders                      3140
Basic EPS                                                     3140
Diluted EPS                                                   3140
Basic Average Shares                                          3140
Diluted Average Shares                                        3140
Total Operating Income as Reported                            3140
Total Expenses                                                3140
Net Income from Continuing & Discontinued Operation           3140
Normalized Income                                             3140
Net Interest Income                                           3140
EBIT                                                          3140
EBITDA                                                        3140
Reconciled Cost of Revenue                                    1310
Net Income from Continuing Operation Net Minority Interest    3140
Total Unusual Items Excluding Goodwill                        3140
Total Unusual Items                                           3140
Normalized EBITDA                                             3140
Tax Rate for Calcs                                            3140
Tax Effect of Unusual Items                                   3140
date                                                          3140
dtype: int64

In [32]:
new_df.isnull().sum()

Unnamed: 0                                                       0
Ticker                                                           0
Total Revenue                                                    0
Cost of Revenue                                               1830
Operating Expense                                                0
Operating Income                                                 0
Net Non Operating Interest Income Expense                        0
Other Income Expense                                             0
Pretax Income                                                    0
Tax Provision                                                    0
Net Income Common Stockholders                                   0
Diluted NI Available to Com Stockholders                         0
Basic EPS                                                        0
Diluted EPS                                                      0
Basic Average Shares                                             0
Diluted Average Shares                                           0
Total Operating Income as Reported                               0
Total Expenses                                                   0
Net Income from Continuing & Discontinued Operation              0
Normalized Income                                                0
Net Interest Income                                              0
EBIT                                                             0
EBITDA                                                           0
Reconciled Cost of Revenue                                    1830
Net Income from Continuing Operation Net Minority Interest       0
Total Unusual Items Excluding Goodwill                           0
Total Unusual Items                                              0
Normalized EBITDA                                                0
Tax Rate for Calcs                                               0
Tax Effect of Unusual Items                                      0
date                                                             0
dtype: int64

In [34]:
new_df.drop(["Cost of Revenue", "Reconciled Cost of Revenue"],axis = 1, inplace =True)

In [35]:
new_df.count()

Unnamed: 0                                                    3140
Ticker                                                        3140
Total Revenue                                                 3140
Operating Expense                                             3140
Operating Income                                              3140
Net Non Operating Interest Income Expense                     3140
Other Income Expense                                          3140
Pretax Income                                                 3140
Tax Provision                                                 3140
Net Income Common Stockholders                                3140
Diluted NI Available to Com Stockholders                      3140
Basic EPS                                                     3140
Diluted EPS                                                   3140
Basic Average Shares                                          3140
Diluted Average Shares                                        3140
Total Operating Income as Reported                            3140
Total Expenses                                                3140
Net Income from Continuing & Discontinued Operation           3140
Normalized Income                                             3140
Net Interest Income                                           3140
EBIT                                                          3140
EBITDA                                                        3140
Net Income from Continuing Operation Net Minority Interest    3140
Total Unusual Items Excluding Goodwill                        3140
Total Unusual Items                                           3140
Normalized EBITDA                                             3140
Tax Rate for Calcs                                            3140
Tax Effect of Unusual Items                                   3140
date                                                          3140
dtype: int64

In [36]:
new_df.to_csv("final_data.csv")

In [ ]:
# Delete column 
# "Cost of Revenue"
# "Reconciled Cost of Revenue"
# "Gross Profit"
# "Interest Expense"
# "Reconciled Depreciation"